*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap:1rem;

}
button{
    margin:2rem;
    padding: 2rem;
    font-size: larger;
    border: none;
}

button:first-child{
    transition: all .1s ease-out;
}

button:first-child:hover{
    background-color: black;
    color: white;
}


button:nth-child(2){
    transition: all .2s ease-in-out;
}

button:nth-child(2):hover{
    transform: scale(2.3,0.8);
}

button:nth-child(3){
    transition: all 1s ease;
}

button:nth-child(3):hover{
    transform: translatey(-20px);
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}

button:nth-child(4){
    position: relative;
    overflow: hidden;
}

button:nth-child(4)::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translateX(-100%);
    
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 10%;
}
button:nth-child(4):hover::before{
    background-image: linear-gradient(
        to right,
        black,
        gray
    );
    width: 100%;
    transform: translateX(0%);
}

button:nth-child(5){
    position: relative;
    /* overflow: hidden; */
}
button:nth-child(5)::before{
    content: "";
    position: absolute;
    top:0%;
    left: 0%;
    height: 0%;
    width: 0%;
    border-color: transparent;
    border-width:0px 0px 0px 0px ;
    transition: all 0.5s ease-in-out;
  
}
button:nth-child(5):hover::before{
    transform: translateX(0%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-color: aqua;
    border-width:10px 0px 0px 10px ;
    border-style: solid; 
}
button:nth-child(5)::after{
    content: "";
    position: absolute;
    bottom:0%;
    right: 0%;
    height: 0%;
    width: 0%;
    border-width:0px 0px 0px 0px ;
    transition: all 0.5s ease-in-out;   
}
button:nth-child(5):hover::after{
    height: 100%;
    width: 100%;
    border-color: aqua;
    border-width:0px 10px 10px 0px ;
    border-style: solid; 
    
}

button:nth-child(6){
    transition:background-position 0.9s ease-in-out;
     background-image: linear-gradient(
        to right,
        blue,
        black ,
        grey
    );
    background-size: 200% 100%;
        background-position: left;
}
button:nth-child(6):hover{
    background-position: right;    
}
button:nth-child(7){
    display: flex;
    gap: 1rem;
    justify-content: center;
}
button:nth-child(7)::after{
    content: "->";
    transition: all 0.7s ease-in-out;
}

button:nth-child(7):hover::after{
    transform: translateX(40px);
}

button:nth-child(7){
    transition: all 0.5s ease-in-out;
}
button:nth-child(8){
    transition: all .5s ease-in;
}
button:nth-child(8):hover{
    box-shadow: 0px 0px 4rem yellow;
}
button:nth-child(9){
    position: relative;
    transition: all 0.5s ease-in-out;
}
button:nth-child(9)>div{
    transition: all 1s ease-in;
    width: 0;
    height: 0;
}

button:last-child{
    transition:all .9s ease-in;
}
